<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tnk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.sensor.gyroscope" />
    <uses-feature android:name="android.hardware.location" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.tnk.pha.PHA_MM"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tnk.pha.PHA_Calc"
            android:label="@string/activity_title_pha_calc"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tnk.pha.PHA_MM" />
        </activity>
        <activity
            android:name="com.tnk.pha.PHA_Sudoku"
            android:label="@string/activity_title_pha_sudoku"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tnk.pha.PHA_MM" />
        </activity>
        <activity
            android:name="com.tnk.pha.PHA_Db"
            android:label="@string/activity_title_pha_db"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tnk.pha.PHA_MM" />
        </activity>
        <activity
            android:name="com.tnk.pha.PHA_SensorTest"
            android:label="@string/activity_title_pha_test"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tnk.pha.PHA_MM" />
        </activity>
        <activity
            android:name="com.tnk.pha.PHA_Search"
            android:label="@string/activity_title_pha_search"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.tnk.pha.PHA_SearchDisplay"
            android:label="@string/activity_title_pha_search_display"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.tnk.pha.PHA_DbHandler"
            android:label="@string/activity_title_pha_db_interface"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.tnk.pha.PHA_Voice"
            android:label="@string/activity_title_pha_voice"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.tnk.pha.PHA_SudokuGame"
            android:label="@string/activity_title_pha_sudoku"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.tnk.pha.PHA_TiltTest"
            android:label="@string/activity_title_pha_test"
            android:theme="@android:style/Theme.Dialog"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.tnk.pha.PHA_TiltScrollTest"
            android:label="@string/activity_title_pha_test"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.tnk.pha.PHA_Reminder_List"
            android:label="@string/activity_title_pha_reminders_lister"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.tnk.pha.PHA_Reminder_Entry"
            android:label="@string/activity_title_pha_test"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.tnk.pha.PHA_RemTaskPrefs"
            android:label="@string/activity_title_pha_test"
            android:screenOrientation="landscape"/>
        <activity
            android:name="com.tnk.pha.PHA_Converter"
            android:label="@string/activity_title_pha_converter"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.tnk.pha.PHA_SudokuSettings"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="@string/activity_title_pha_sudoku_settings">
        </activity>
        <activity android:name=".pha.PHA_Issue_List"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="PHA:LANX(Is)"/>
        <activity android:name=".pha.PHA_Issue_Entry"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:label="PHA:LANX(Is:Edit)"/>
        <activity android:name=".pha.PHA_Workbench_Tool_List"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="PHA:LANX(Is)"/>
        <activity android:name=".pha.PHA_Workbench_Tool_View"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:label="PHA:LANX(WB:View)"/>
        <activity android:name=".pha.PHA_Workbench_Tool_Edit"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:label="PHA:LANX(WB:Edit)"/>
        <activity android:name=".pha.PHA_Workbench_Db_Tools"
            android:theme="@style/Theme.AppCompat.Dialog"
            android:label="PHA:LANX(WBDB)"/>


    </application>

</manifest>